html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient(135deg, #f5ffee 0%, #f5ffff 100%);
}
img {
	cursor: pointer;
}